// Grays
$gray7:	#111111 !default;
$gray6:	#333333 !default;
$gray5:	#555555 !default;
$gray4:	#777777 !default;
$gray3:	#999999 !default;
$gray2:	#dddddd !default;
$gray1:	#f7f7f7 !default;


// Colors
$body-background:  #fbfbfb !default;
$text-color:       #555555 !default;

$main-color:       #4378a7 !default;
$success-color:    #16a6b6 !default;
$error-color:      #e74c3c !default;
$warning-color:    #f1c000 !default;
$light-color:      #ecf0f1 !default;
$dark-color:       #252428 !default;
$main-light-color: #72a8d6 !default;
$main-grey-color:  #7f8184 !default;

$navigation-color: #2c3e50 !default;

$color-diff:       #151515 !default;


// Defaults
$font-family:     "Open Sans", "Helvetica Neue", Helvetica,
                  NanumBarunGothic, Nanum Gothic, "Apple SD Gothic Neo",
                  Dotum, Arial, sans-serif !default;
$font-size:       16px !default;
$font-weight:     normal !default;
$line-height:     1.5em !default;
$bold:            700 !default;

$transition-time: 0.25s !default;


// Code
$pre-font-family: NanumGothicCoding, "Deja-vu Sans Mono", Monaco, Menlo,
                  Consolas, "Courier New", monospace !default;
$pre-font-size:   15px !default;


// Tables
$table-border-color:     $gray2 !default;
$table-background:       $gray1 !default;
$table-background-hover: lighten($main-color, 10) !default;
$table-color-hover:      #fff !default;


// Forms
// Fancy checkboxes
$checkbox-height:      22px !default;
$checkbox-width:       38px !default;
$checkbox-circle-size: $checkbox-height - 2 !default;
$checkbox-top:         ($font-size * 1.5 - $checkbox-height) / 2 !default;
$checkbox-bg:          #c3c5c4 !default;
$checkbox-checked-bg:  $success-color !default;

// Fancy radio buttons
$radio-size:               20px !default;
$radio-circle-size:        10px !default;
$radio-top:                ($font-size * 1.5 - $radio-size) / 2 !default;
$radio-border-color:       #c3c5c4 !default;
$radio-checked-bg:         $success-color !default;
$radio-circle-left:        $radio-size / 2 !default;
$radio-circle-top:         $radio-circle-left + $radio-top !default;
$radio-circle-active-left: ($radio-size - $radio-circle-size) / 2 !default;
$radio-circle-active-top:  $radio-circle-active-left + $radio-top !default;

// Grid
$grid-columns:       12 !default;
$grid-padding-width: 16px !default;
$grid-unit-width:    100% / $grid-columns !default;


// Breakpoints
$tablet-portrait-breakpoint:    480px !default;
$tablet-breakpoint:             768px !default;
$desktop-breakpoint:            970px !default;
$large-desktop-breakpoint:      1200px !default;

$container-width-tablet:        720px !default;
$container-width-desktop:       940px !default;
$container-width-large-desktop: 1150px !default;


// Helpers
$border-radius:     3px !default;
$big-border-radius: 100px !default;


// Custom colors
$white: #ffffff !default;


// From base16-solarized
$code-base00: #002b36;
$code-base01: #073642;
$code-base02: #586e75;
$code-base03: #657b83;
$code-base04: #839496;
$code-base05: #93a1a1;
$code-base06: #eee8d5;
$code-base07: #fdf6e3;
$code-base08: #dc322f;
$code-base09: #cb4b16;
$code-base0A: #b58900;
$code-base0B: #859900;
$code-base0C: #2aa198;
$code-base0D: #268bd2;
$code-base0E: #6c71c4;
$code-base0F: #d33682;
