<article class="article article-protected">
  <header class="article-header">
    <h2 class="title"><a href="[##_article_rep_link_##]">[##_article_rep_title_##]</a></h2>
    <span class="date"><time>[##_article_rep_date_##]</time></span>
    <span class="category">&ndash; 보호글</span>
  </header>
  <hr>

  <section class="article-content">
    <form action="#">
      <div class="row">
        <div class="col xs-4 sm-3 md-2">
          <label for="[##_article_password_##]">비밀번호</label>
        </div>
        <div class="col xs-8 sm-9 md-10">
          <input class="form-control" type="password" required="required" placeholder="비밀번호" id="[##_article_password_##]" name="[##_article_password_##]" onkeydown="if(event.keyCode===13) [##_article_dissolve_##]">
        </div>
      </div>

      <button class="btn" type="button" value="Submit" onclick="[##_article_dissolve_##]">Submit</button>
      </form>
  </section>
</article>
