<section class="search">
	<h3 class="search-header search-category">
		<strong>[##_list_conform_##]</strong> 카테고리의 글 [##_list_count_##]개
	</h3>

	<h3 class="search-header search-keyword">
		<strong>[##_list_conform_##]</strong> 키워드의 글 [##_list_count_##]개
	</h3>

	<hr>

	<ul class="search-list">
		<s_list_rep>
			<li class="search-item">
				<span class="title">
					<a href="[##_list_rep_link_##]">[##_list_rep_title_##]</a>
				</span>
				<span class="date">
					<time>[##_list_rep_regdate_##]</time>
				</span>
			</li>
		</s_list_rep>
	</ul>
</section>
