@mixin generate-btn($background, $color, $active-color) {
  background: $background;
  color: $color;

  &:hover {
    background-color: $background - $color-diff;
    color: $active-color;
  }
  &:active {
    background-color: $background - $color-diff * 2;
    color: $active-color;
    top: 1px;
    position: relative;
  }
}

@mixin generate-empty-btn($border, $color) {
  border: 2px solid $border;
  color: $color;
  background: none;

  &:hover {
    color: $color - $color-diff;
    border-color: $border - $color-diff;
    background: none;
  }
  &:active {
    color: $color - $color-diff * 2;
    border-color: $border - $color-diff * 2;
    background: none;
  }
}
